// Background colors
$bg-blue: #246ea0;
$bg-black: #000000;

// Text colors
$text-white: #e9f3f8;
$text-hower: #ecb00a;
$shadow: rgba(0, 0, 0, 0.2);

// Font families
$font-family-primary: Arial, Helvetica, sans-serif;
