.container.bg-info
  %h2 All articles
  - @articles.each do |article|
    %p.h4.text-warning
      = link_to "Article #{article.id}: #{article.title}", article_path(article.id)
  %p= link_to "Create new article", new_article_path, class: 'btn btn-success'
