.d-flex
  %div{style: 'min-width: 20%'}
    = render 'categories/shared/categories_tree'
  %div{style: 'min-width: 60%; background: #faf7f7'}
    = render 'items/shared/item_carts'
  %div{style: 'min-width: 20%;'}
    %h2 filters
    -# = render 'items/shared/item_carts'
    