-if user_signed_in?
  - if @category.owner['id'] == current_user.id && @category.owner['type'] != 'AdminUser' 
    .d-flex
      = link_to 'Edit', edit_category_path, class: 'btn btn-secondary mb-2'   
  = render 'categories/shared/card'
-else
  %h3= 'You are not signed in'