-if user_signed_in?
  .d-flex
    -# = link_to 'Add to cart', edit_item_path, class: 'add_to_cart_btn btn btn-secondary mb-2 '   
    -# = button_to 'Add to cart', item_path(@item), class: 'add_to_cart_btn btn btn-secondary mb-2', method: :get   
    -# - if @cart.include?(@item) 
    -#   = button_to "Remove from cart", remove_from_cart_path(@item), method: :delete 
    -# - else 
    -#   = button_to "Add to cart", add_to_cart_path(@item)

    - if @item.owner.id == current_user.id
    
      = link_to 'Edit', edit_item_path, class: 'btn btn-secondary mb-2 ml-1'   
      = button_to 'Delete', item_path(@item), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mb-2 ml-1', method: :delete

= render 'items/shared/card'

= javascript_include_tag 'cart/add_to_cart'